#main.rated{:role => "main"}
  #map
    #rated
      .modal-header
        %h3
          = t("rated.header", :server => @server.name)
          %span last reset #{last_reset.strftime("%m/%d")}
      .modal-body
        %table.table
          %thead
            %tr
              %th= t("rated.table.name")
              %th= t("rated.table.points")
              %th Last updated 
              %th= t("rated.table.updated_at")

:javascript
  $(function() {
    $('#rated table').dataTable( {
      "sDom": "<'search'f>t<'row bot'<'page'p>>",
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": true,
      "bSort": true,
      "bInfo": false,
      "bAutoWidth": false,
      "bRetrieve": true,
      "aaData": #{@data},
      "aoColumns": [
              { "asSorting": [ "desc", "asc" ] },
              { "asSorting": [ "desc", "asc" ] },
              { "iDataSort": 3, "asSorting": [ "desc", "asc" ] },
              { "bVisible": false, "asSorting": [ "desc", "asc" ] }, 
      ],
      "aaSorting": [[3, 'asc']],
      "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
        if(aData[4] == true)
          $(nRow).css('opacity', '0.2');
      },
      "oLanguage": {
        "sEmptyTable": "There are no maps with any points!",
        "sLengthMenu": "_MENU_ records per page",
        "oPaginate": {
        "sPrevious": "" ,
        "sNext": "" ,
        },
        "sSearch": "" 
      }
    } );
  });
