%div.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container 
      %a.brand{:href => "/"} Orr maps
      %ul.nav
        %li{:class => ("active" if user_signed_in?)}
          %a{:href => "/user/map"} Your map
        %li{:class => ("active" if !user_signed_in?)}
          %a{:href => "/maps/top"} Top rated
      %ul.nav.pull-right
        - unless user_signed_in?
          %li
            %a.sign_in{:href => "#sign_in", :"data-toggle" => "modal"} 
              %i.icon.icon-user
              Sign in 
        %li
          %a.dropdown-toggle{:"data-toggle" => "dropdown", :href => "#"} 
            %i.icon.icon-home
            %strong= @server 
          %ul.dropdown-menu{:"role" => "menu"}
            %li.nav-header United States
            - Server.find_all_by_country("US").each do |server|
              %li
                %a{:href => "#"}= server.name
            %li.nav-header Europe
            - Server.find_all_by_country("EU").each do |server|
              %li
                %a{:href => "#"}= server.name     
            %li.nav-header France
            - Server.find_all_by_country("FR").each do |server|
              %li
                %a{:href => "#"}= server.name 
            %li.nav-header Germany
            - Server.find_all_by_country("GE").each do |server|
              %li
                %a{:href => "#"}= server.name 
            %li.nav-header Mexico
            - Server.find_all_by_country("GE").each do |server|
              %li
                %a{:href => "#"}= server.name  
            %li.nav-header Spanish
            %li
              %a{:href => "#"} Baruch Bay 
