%div.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      %a.brand.logo{:href => "/"} Orr maps
      %ul.nav
        %li.your
          %a{:href => "/"}= t("navigation.your_map")
        %li.serv
          - if session[:server]
            %a{:href => "/server/#{underscore(session[:server])}"}= t("navigation.server_map")
          - else
            %a{:href => "/server/jade_quarry"}= t("navigation.server_map")
        %li.rated
          %a.top_rated{:href => "#rated", :"data-toggle" => "modal"}= t("secondary.map_list").humanize
      %ul.nav.pull-right
        %li
          %a.faq{:href => "#faq", :"data-toggle" => "modal"}
            %i.icon.icon-question-sign
            = t("secondary.faq")
        - unless current_user
          %li
            %a.sign_in{:href => "#sign_in", :"data-toggle" => "modal"}
              %i.icon.icon-user
              = t("secondary.sign_in")
        - else
          %li
            %a.delete{:href => "/user/delete"}
              %i.icon.icon-remove
              = t("navigation.delete_account")
          %li
            %a.sign_in{:href => "/logout"}
              %i.icon.icon-off
              = t("navigation.sign_out")
              %strong= current_user.name
        %li
          %a{:href => "#servers", :"data-toggle" => "modal"}
            %i.icon.icon-home
            %span.server= @server.name
