#pageslide
  #modal
    %h2 
      LAST UPDATED
      %a.close{:href => "#"} ×
    .meta
      %span for #{session[:server]}
    %ul.top
      - if @rated.count == 0
        %li{:style => "padding: 3px 8px"}
          No liked maps yet!
      - @rated.each do |map|
        %li
          %a{:href => "/maps/#{map.id}"}
            .map
              %i.icon.icon-white.icon-user
              = map.user.name.slice(0,16)
            .likes 
              #{time_ago_in_words(map.updated_at).sub("minute", "min").sub("less than a min", "< 1 min")} ago
              %i.icon.icon-white.icon-map-marker
              #{map.points.count}
            .clearfix


