.navbar
  .container
    %ul
      - if map
        %li
          %i.icon-user
          #{map.user.name}'s map
        - if map.updated_at < last_reset
          %li
            %i.icon-exclamation
            out of date
        %li.last_reset
          %i.icon-clock
          #{time_ago(map.updated_at)} #{t("secondary.ago")}
        %li
          %a{:href => "/server/#{underscore(map.server.name)}"}
            %i.icon-home
            = map.server.name
        %li
          %a{:href => map_path(map)}
            %i.icon-pencil
            = "/maps/#{map.id}"
        %li.mlist.thin
          %a.map_list{:href => "#rated", :"data-toggle" => "modal"}
            %i.icon-air
        %li.filter.thin
          %a#filter{:href => "#", :"data-target" => "#", :"data-toggle" => "dropdown"}
            %i.icon-filter
          %ul#filters.dropdown-menu{:role => "menu", :"aria-labelledby" => "filter"}
            %li
              %a.all{:href => "#", :rel => "all"} 
                %i.icon-circle
                Toggle All 
              %a.ore{:href => "#", :rel => "ore"}
                %i.icon-circle
                Orichalcum Ore
              %a.wood{:href => "#", :rel => "wood"}
                %i.icon-circle
                Ancient Wood
              %a.mith{:href => "#", :rel => "mith"}
                %i.icon-circle
                Mithril 
              %a.mithril{:href => "#", :rel => "mithril"}
                %i.icon-circle
                Rich Mithril
              %a.omnom{:href => "#", :rel => "omnom"}
                %i.icon-circle
                Omnomberry
              %a.raspberry{:href => "#", :rel => "raspberry"}
                %i.icon-circle
                Raspberry
              %a.oritruffle{:href => "#", :rel => "oritruffle"}
                %i.icon-circle
                Orrian Truffle
              %a.snowtruffle{:href => "#", :rel => "snowtruffle"}
                %i.icon-circle
                Snow Truffle
              %a.passiflora{:href => "#", :rel => "passiflora"}
                %i.icon-circle
                Passiflora
              %a.ghostpepper{:href => "#", :rel => "ghostpepper"}
                %i.icon-circle
                Ghost Pepper
              %a.coral{:href => "#", :rel => "coral"}
                %i.icon-circle
                Coral
              %a.lotus{:href => "#", :rel => "lotus"}
                %i.icon-circle
                Lotus
              %a.note{:href => "#", :rel => "note"}
                %i.icon-circle
                Note
              %a.chest{:href => "#", :rel => "chest"}
                %i.icon-circle
                Chest
        - if current_user
          %li.dall.thin
            %a.delete_all{:href => "#"}
              %i.icon-cancel
          %li.toolshed
            %ul.tools
              %li
                %a#node.node{:href => "#", :"data-target" => "#", :"data-toggle" => "dropdown"}
                  %b.caret
                %ul#nodes.dropdown-menu{:role => "menu", :"aria-labelledby" => "node"}
                  %li.desc
                    %span orichalcum ore
                  %li
                    %h1 Ore & wood
                    %div
                      %a.ore.active{:href => "#", :rel => "orichalcum ore"}
                      %a.wood{:href => "#", :rel => "ancient wood"}
                      %a.mith{:href => "#", :rel => "mithril"}
                      %a.mithril{:href => "#", :rel => "rich mithril"}
                  %li
                    %h1 Cooking
                    %div
                      %a.omnom{:href => "#", :rel => "omnomnom berry"}
                      %a.raspberry{:href => "#", :rel => "raspberry"}
                      %a.oritruffle{:href => "#", :rel => "orrian truffle"}
                      %a.snowtruffle{:href => "#", :rel => "snow truffle"}
                      %a.passiflora{:href => "#", :rel => "passiflora"}
                      %a.ghostpepper{:href => "#", :rel => "ghost pepper"}
                      %a.coral{:href => "#", :rel => "coral"}
                      %a.lotus{:href => "#", :rel => "lotus"}
                  %li
                    %h1 Misc
                    %div
                      %a.note{:href => "#", :rel => "note"}
                      %a.chest{:href => "#", :rel => "chest"}
      - else
        %li
          %i.icon-home
          Map for
          = @server.name
        %li
          %i.icon-clock
          Last reset
          = last_reset.strftime("%m/%d")
        %li
          %a.map_list{:href => "#rated", :"data-toggle" => "modal"}
            %i.icon-air
            Map list
