%div.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner
    .container 
      - if map
        .brand.logo{:href => "#"}
          %i.icon.icon-white.icon-user
          #{map.user.name}'s #{t("secondary.map")}
        .likes
          %a.like{:href => "#", :title => "#{map.id}"}
            %i.icon.icon-white.icon-thumbs-up{:class => ("liked" if current_user && map.already_likes?(current_user))}
          %a.dislike{:href => "#", :title => "#{map.id}"}
            %i.icon.icon-white.icon-thumbs-down{:class => ("disliked" if current_user && map.already_dislikes?(current_user))} 
          %span= likes_for_map(map)
          likes 
        .date{:href => "#"}
          %i.icon.icon-white.icon-calendar
          #{time_ago(map.updated_at)} #{t("secondary.ago")}
        .date{:href => "#"}
          %i.icon.icon-white.icon-home
          = map.server.name 
        %a.date{:href => map_path(map)}
          %i.icon.icon-white.icon-share
          = "/maps/#{map.id}"  
      - else
        .brand.logo{:href => "#", :style => "font-weight:bold;"}
          %i.icon.icon-white.icon-home
          = server.name  
        .pull-right.faq
          - if current_user
            = t("secondary.signed_in_html", :href => link_to(t("secondary.map_list"), "#rated", {:class => "top_rated", :"data-toggle" => "modal"}))
          - else
            = t("secondary.create_html", :href => link_to(t("secondary.sign_in"), "#sign_in", {:class => "sign_in", :"data-toggle" => "modal"}))
            = t("secondary.faq_html", :href => link_to(t("secondary.faq"), "#faq", {:"data-toggle" => "modal"}))
      .pull-right.toolshed
        %ul.tools
          %li
            %a.note{:href => "#"}
          %li
            %a.mithril{:href => "#"}
          %li
            %a.omnom{:href => "#"}
          %li
            %a.wood{:href => "#"}
          %li
            %a.ore.active{:href => "#"}
