%div.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner
    .container 
      - if map
        .brand.logo{:href => "#"}
          %i.icon.icon-white.icon-user
          #{map.user.name}'s map
        -# %a.like{:href => "#", :title => "#{map.id}"}
          -# %i.icon.icon-white.icon-thumbs-up{:class => ("liked" if current_user && current_user.already_likes?(map))}
          -# %span= map.likes.count
          -# likes 
        %a.date{:href => "#"}
          %i.icon.icon-white.icon-calendar
          #{time_ago_in_words(map.updated_at).sub("minute", "min").sub("less than a minute", "< 1 min").sub("about","")} ago
        %a.date{:href => "#"}
          %i.icon.icon-white.icon-home
          = map.server.name 
        %a.date{:href => map_path(map)}
          %i.icon.icon-white.icon-share
          = "/maps/#{map.id}"  
      - else
        .brand.logo{:href => "#", :style => "font-weight:bold;"}
          %i.icon.icon-white.icon-home
          = server.name  
