%div.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner
    .container
      - if map
        .brand.logo{:href => "#"}
          %i.icon.icon-white.icon-user
          #{map.user.name}'s #{t("secondary.map")}
        - if map.updated_at < last_reset
          .date
            %i.icon.icon-white.icon-exclamation-sign
            out of date 
        .likes
          %a.like{:href => "#", :title => "#{map.id}"}
            %i.icon.icon-white.icon-thumbs-up{:class => ("liked" if current_user && map.already_likes?(current_user))}
          %a.dislike{:href => "#", :title => "#{map.id}"}
            %i.icon.icon-white.icon-thumbs-down{:class => ("disliked" if current_user && map.already_dislikes?(current_user))}
          %span= likes_for_map(map)
          = t("secondary.likes")
        .date
          %i.icon.icon-white.icon-calendar
          #{time_ago(map.updated_at)} #{t("secondary.ago")}
        .date
          %i.icon.icon-white.icon-home
          = map.server.name
        %a.date{:href => map_path(map)}
          %i.icon.icon-white.icon-share
          = "/maps/#{map.id}"
      - else
        .brand.logo{:href => "#", :style => "font-weight:bold;"}
          %i.icon.icon-white.icon-home
          = server.name
        .date
          %i.icon.icon-white.icon-time
          last reset 
          = last_reset.strftime("%m/%d")
        .faq.pull-right
          - if current_user
            = t("secondary.signed_in_html", :href => link_to(t("secondary.map_list"), "#rated", {:class => "top_rated", :"data-toggle" => "modal"}))
          - else
            = t("secondary.create_html", :href => link_to(t("secondary.sign_in"), "#sign_in", {:class => "sign_in", :"data-toggle" => "modal"}))
            = t("secondary.faq_html", :href => link_to(t("secondary.faq"), "#faq", {:"data-toggle" => "modal"}))
      .toolshed
        %ul.tools.pull-right
          %li
            %a.node{:href => "#", :"data-toggle" => "dropdown"}
              %b.caret
            %ul.dropdown-menu{:role => "menu", :"aria-labelledby" => "dLabel"}
              %li.desc
                %span orichalcum ore
              %li
                %h1 Ore & wood
                %div
                  %a.ore.active{:href => "#", :rel => "orichalcum ore"}
                  %a.wood{:href => "#", :rel => "ancient wood"}
                  %a.mithril{:href => "#", :rel => "rich mithril"}
              %li
                %h1 Cooking
                %div
                  %a.omnom{:href => "#", :rel => "omnomnom berry"}
                  %a.raspberry{:href => "#", :rel => "raspberry"}
                  %a.oritruffle{:href => "#", :rel => "orrian truffle"}
                  %a.snowtruffle{:href => "#", :rel => "snow truffle"}
                  %a.passiflora{:href => "#", :rel => "passiflora"}
                  %a.ghostpepper{:href => "#", :rel => "ghost pepper"}
                  %a.coral{:href => "#", :rel => "coral"}
                  %a.lotus{:href => "#", :rel => "lotus"}
              %li
                %h1 Misc
                %div.last
                  %a.note{:href => "#", :rel => "note"}
                  %a.chest{:href => "#", :rel => "chest"}
        %a.delete_all{:href => "#"} 
          %i.icon.icon-white.icon-remove
          Delete all  
