%div.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner
    .container 
      - if map
        .brand.logo{:href => "#"}
          %i.icon.icon-white.icon-user
          #{map.user.name}'s map
        %a.like{:href => "#", :title => "#{map.id}"}
          %i.icon.icon-white.icon-thumbs-up{:class => ("liked" if current_user && current_user.already_likes?(map))}
          %span= likes_for_map(map)
          likes 
        %a.date{:href => "#"}
          %i.icon.icon-white.icon-calendar
          #{time_ago_in_words(map.updated_at).sub("minute", "min").sub("less than a minute", "< 1 min").sub("about","")} ago
        %a.date{:href => "#"}
          %i.icon.icon-white.icon-home
          = map.server.name 
        %a.date{:href => map_path(map)}
          %i.icon.icon-white.icon-share
          = "/maps/#{map.id}"  
      - else
        .brand.logo{:href => "#", :style => "font-weight:bold;"}
          %i.icon.icon-white.icon-home
          = server.name  
        .pull-right.faq
          - if current_user
            Points from the maps with the most likes will be more visible. View the 
            %a.top_rated{:href => "#rated", :"data-toggle" => "modal"} map list
          - else
            %a.sign_in{:href => "#sign_in", :"data-toggle" => "modal"} Sign in
            to create your own map.
            Read the 
            %a{:href => "#faq"} FAQ
            if you have any questions
      .pull-right.toolshed
        %ul.tools
          %li
            %a.note{:href => "#"}
          %li
            %a.mithril{:href => "#"}
          %li
            %a.omnom{:href => "#"}
          %li
            %a.wood{:href => "#"}
          %li
            %a.ore.active{:href => "#"}
