#servers.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "servers", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Set your home server
  .modal-body
    .servers
      %ul.nav-header.us
        United States
        - @servers[:US].each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  
    .servers
      %ul.nav-header 
        Europe
        - @servers[:EU].each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  
    .servers
      %ul.nav-header 
        France
        - @servers[:FR].each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  
    .servers
      %ul.nav-header 
        Germany
        - @servers[:GE].each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  
    .servers
      %ul.nav-header 
        Spain
        - @servers[:MX].each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  

