#servers.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= t("servers.header")
  .modal-body
    .servers
      %ul.nav-header.us
        = t("servers.us")
        - @servers["us"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server
    .servers
      %ul.nav-header 
        = t("servers.eu")
        - @servers["eu"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server
    .servers
      %ul.nav-header 
        = t("servers.fr")
        - @servers["fr"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server
    .servers
      %ul.nav-header 
        = t("servers.ge")
        - @servers["ge"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server
    .servers
      %ul.nav-header 
        = t("servers.sp")
        - @servers["mx"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server

