#servers.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "servers", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Set your home server
  .modal-body
    .servers
      %ul.nav-header.us
        United States
        - Server.find_all_by_country("US").each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  
    .servers
      %ul.nav-header 
        Europe
        - Server.find_all_by_country("EU").each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  
    .servers
      %ul.nav-header 
        France
        - Server.find_all_by_country("FR").each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  
    .servers
      %ul.nav-header 
        Germany
        - Server.find_all_by_country("GE").each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  
    .servers
      %ul.nav-header 
        Spain
        - Server.find_all_by_country("MX").each do |server|
          %li
            %a{:href => "#", :title => "#{server.name}"}= server.name  

