#servers.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Set your home server
  .modal-body
    .servers
      %ul.nav-header.us
        United States
        - @servers["us"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server
    .servers
      %ul.nav-header 
        Europe
        - @servers["eu"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server
    .servers
      %ul.nav-header 
        France
        - @servers["fr"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server
    .servers
      %ul.nav-header 
        Germany
        - @servers["ge"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server
    .servers
      %ul.nav-header 
        Spain
        - @servers["mx"].each do |server|
          %li
            %a{:href => "#", :title => "#{server}"}= server

