!!!
%html
  %head
    = metamagic :title => "Orrmaps", :description => "Create, share, and rate orichalcum and ancient wood maps for Guild Wars 2 by server", :keywords => %w(orichalcum ancient wood ori orr orrmaps orrmap orr maps gw2)
    = javascript_include_tag "http://use.typekit.com/emt3zee.js"
    :javascript
      try{Typekit.load();}catch(e){}
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = stylesheet_link_tag "application", :media => "all"
    = yield(:head)
  %body
    = render :partial => 'layouts/secondary', :locals => {map: @map }
    = render :partial => 'layouts/sidebar'

    = yield

    = render :partial => 'layouts/sign_in' unless current_user
    = render :partial => 'layouts/rated'

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35553466-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


